.notice グループを作成しました
.side-box
  .side-header
    %p.header__name
      = current_user.name
    .icon-box
      %i.fa
        = link_to new_group_path do
          = fa_icon 'pencil-square-o', class: 'icon'
      %i.fa
        = link_to edit_user_path(current_user) do
          = fa_icon 'cog', class: 'icon'
  .groups
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .group__name
            = group.name
          .group__message
            メッセージはまだありません。

.main-box
  .main-header
    mainheader
    .main-header_edit-btn Edit
  .messages messages
  .form
    .input-box
      %input#message_content.input-box_text{name:"message[content]",placeholder: "type a message",type:"text"}/
      %label.input-box_image{for:"message_image"}
        %i.fa.fa-image
    %input.submit-btn{"date-disable-with":"Send",name:"commit",type:"submit",value:"Send"}/
