= render 'shared/side_bar'

.main-box
  .main-header
    .main-header_left-box
      %h2.main-header_left-box_current-group 
        = @group.name
      %ul.main-header_left-box_member-list 
        Member:
        -@group.users.each do |user|
          =user.name
    .main-header_right-box
      .main-header_edit-btn 
        %div{"data-turbolinks" => "false"}
          = link_to'Edit',edit_group_path(@group)
  .messages 
    = render @messages
  .timer{:style => "--timer_min: 2;--timer_sec: 0;--timer_direction:reverse;"}
    .timer_button
    %h1 2分で発表
    .timer_display
    %div
  .timers{:style => "--timer_min: 3;--timer_sec: 0;--timer_direction:reverse;"}
    .timers_button
    %h1 1分で質問
    .timers_display
    %div
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'input-box_text', placeholder: 'type a message'
      .input-box
        = f.label :image, class: 'input-box__image' do
          = fa_icon 'picture-o', class: 'input-box i'
          = f.file_field :image, class: 'hidden', multipart: true
      = f.submit 'Send', class: 'submit-btn'
        
  



